html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

tt {
    font-family: monospace;
}
h1 {
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 20px;
}
p {
    padding-bottom: 10px;
}
b {
    font-weight: bold;
}
i {
    font-style: italic;
}

#setup-panel {
    border: solid 1px #def;
    background-color: #f4ffff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}

#container {
    width: 100%;
    height: 100%;
}

#left-panel {
    width: 200px;
    border-right: solid 1px #aaa;
    float: left;
    height: 100%;
}

#status-bar {
    min-height: 20px;
    background-color: #eee;
    padding: 3px;
}

#status-left {
    float: left;
}

#status-right {
    float: right;
}

#add-contact, #edit-contact, #show-intro-box {
    cursor: pointer;
}
#add-contact, #show-intro-box {
    font-size: 20px;
}
#edit-contact {
    font-size: 0.8em;
    color: #666;
}
#edit-contact:hover {
    text-decoration: underline;
}

#ricochet-id {
    font-weight: bold;
    font-size: 1em;
    font-family: monospace;
}

#contacts {
    overflow-y: scroll;
    padding: 3px;
    position: absolute;
    bottom: 0;
    top: 26px;
    width: 194px;
}

.contact-header {
    font-variant: small-caps;
    font-size: 0.8em;
}

#right-panel {
    margin-left: 200px;
}

.spinner {
    border: 2px solid #fff;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.contacts-div li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    list-style: circle green outside;
    cursor: pointer;
}

.contacts-div li::before {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    content: '';
    margin-right: 5px;
}

#online-contacts-div li::before {
    border: solid 1px #0c0;
    background: #0c0;
}

#offline-contacts-div li::before {
    border: solid 1px #888;
    background: #888;
}

.viewingonion {
    background-color: #def;
}

#message-form {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 200px;
    display: flex;
}

#message-input {
    width: 100%;
}

#chat-status-circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    content: '';
    margin-right: 5px;
    margin-left: 5px;
    border: solid 1px;
}

#chat-name {
    padding-top: 8px;
    left: 201px;
    height: 25px;
    top: 0;
    right: 0;
    position: absolute;
    border-bottom: solid 2px #eee;
}

#messages {
    position: absolute;
    top: 33px;
    bottom: 34px;
    right: 0;
    left: 201px;
    overflow-y: scroll;
}

.msg {
    display: inline-block;
    margin: 12px;
    padding: 6px;
    clear: both;
}

.msg-you {
    background-color: #def;
    float: left;
}

.msg-me {
    background-color: #eee;
    float: right;
}

.unreads {
    color: red;
    font-size: 0.8em;
}

#intro-box {
    padding: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 201px;
    overflow-y: scroll;
}
